[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
	branch = yosys-0.9
[submodule "src/main/scala/perfect"]
	path = src/main/scala/perfect
	url = https://github.com/ibm/perfect-chisel
[submodule "iverilog"]
	path = iverilog
	url = https://github.com/steveicarus/iverilog
[submodule "aes"]
    path = work/aes
    url = https://github.com/secworks/aes
