[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
[submodule "src/main/scala/perfect"]
	path = src/main/scala/perfect
	url = https://github.com/ibm/perfect-chisel
